<p id="notice"><%= notice %></p>

    <nav class='navbar'>
        <div class='navbar-inner'>
            <ul class='nav'>
                <li><%= link_to 'Nueva Venta', new_ventum_path %></li>
                <li><%= link_to 'Clientes', clients_path %></li>                
                <li><%= link_to 'Almacen', almacens_path %></li>
                <li><%= link_to 'Lista', lists_path %></li>
            </ul>
        </div>        
    </nav>

<h1>Ventas Registradas</h1>

<table> 
  <thead>
    <tr>
      <th>Cod</th>
      <th>Cost</th>
      
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @venta.each do |ventum| %>
      <tr>
        <td><%= ventum.cod %></td>S
        <td><%= ventum.cost %> BS.</td>
        
        <td><%= link_to ' Show ', ventum %></td>
        <td><%= link_to ' Edit ', edit_ventum_path(ventum) %></td>
        <td><%= link_to ' Destroy ', ventum, method: :delete, data: { confirm: ' Esta Seguro que quiere borrar esta Venta? ' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

